@font-face {
  font-family: Inter;
  src: local(Inter), url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

* {
  font-family: Inter, serif;
}

.page-info {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.page-buttons {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.sending-button {
  background: #4cc37b;
  height: 50px;
  width: 150px;
  padding: 10px 27px;
}

.input-group {
  padding: 10px;
}

input {
  padding: 5px;
  border: 2px solid #79acff;
  border-radius: 5px;
}

.error-message {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: red;
}

form {
  display: flex;
}

input {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

button {
  height: 100px;
  width: 200px;

  align-items: center;
  margin-right: 24px;
  margin-left: 24px;

  text-align: center;
  font-size: 22px;

  border-radius: 25px;
  background: #79acff;
  padding: 10px 10px 10px 10px;
  color: #ffffff;

  outline: none;
  border: none;

  cursor: pointer;
  text-decoration: none;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

button:hover {
  transition: all 0.2s ease-in-out;
  background: #ffffff;
  color: #000814;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.title-page {
  align-items: center;
  justify-content: center;
}

.login-pic {
  width: 200px;
  margin: auto;
  display: flex;
}

.login-title {
  font-size: 100px;
}

#user-list {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #adccff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title-table {
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 25px;

  color: #ffffff;
  background-color: #649fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* credit: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
  text-align: center;
  align-items: center;
  width: 75%;

  border-collapse: collapse;
  margin: auto;

  font-size: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #649fff;
  color: #ffffff;
  text-align: center;
}

.styled-table th {
  background-color: #649fff;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #649fff;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #79acff;
}
